<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="钱生花,钱生花官网,花样年,合和年,qianshenghua,qsh,p2p,p2p网贷,p2p借贷平台,P2P网贷投标平台,人人贷,网络借贷,P2P信贷平台,网络小额贷款,合和年在线,互联网金融,P2P投标,债权转让,薪金贷,业主贷,生意贷,工薪贷">
    <meta name="description" content="钱生花,钱生花官网,花样年,合和年,qianshenghua,qsh,钱生花是花样年集团倾力打造的互联网金融P2P信贷平台，为有小额贷款,薪金贷,业主贷,生意贷">
    <title>个人中心</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/center.css">    
    <link rel="stylesheet" href="css/jquery-ui-1.10.1.css">    
    <link rel="stylesheet" href="css/usercenter.css">
    <link rel="stylesheet" href="css/ui-dialog.css">
    <link rel="stylesheet" href="css/custody.css">
	<link rel="stylesheet" href="css/center-dialog.css">
	<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="js/personCenter.js"></script>
	
</head>

<body class="fixed-height-bd" avalonctrl="root">
    <!-- 头部S -->
    <div><!--ms-include--><!-- 头部S -->
            <div class="top-bar-wrapper">
                <div class="top-bar animate" id="topNavFixed" data-offset="120" style="top: 0px;">
                    <div class="header_wrapper">
                        <a href="https://www.qianshenghua.com/" target="_self" class="new-logo">
                            <img src="images/logo4.gif" alt="彩付宝|花样年" width="415" height="56">                        </a>
                        <!-- .login-menued 显示已登录/ 没有这登录or注册模式-->
                        <div class="login">
                            
                            <div class="login_in" style="display: block;">
                                 <i class="center_icon center_icon_mobile"></i>
                                 <div class="login_info">
                                    <a href="#">
                                     <i class="top_icon top_icon_info"></i>
                                     130*****268
                                    </a>
                                    <a href="https://www.qianshenghua.com/login/loginout.do" class="login_out">
                                        退出
                                    </a>
                                 </div>
                                 <div class="login_app">
                                    <a href="https://www.qianshenghua.com/about/app" class="login_s">
                                        <i class="top_icon"></i>
                                        APP
                                        <span class="top_icon top_icon_down animate"></span>
                                        <div class="login_eqcode">
                                            <img src="images/app_qr.png" width="140" height="140" alt="钱生花app">
                                            <p>钱生花客户端</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="login_nav">
                                <ul>
                                    <li><a href="#" title="钱生花官网">首页</a></li>
                                    <li><a href="#" title="我要投资">我要投资</a></li>
                                    <li class=""><a href="#" title="新手引导">新手引导</a></li>
                                    <li class=""><a href="#" title="关于我们">关于我们</a></li>
                                    <li><a href="#" title="知识讲堂">知识讲堂</a></li>
                                    <li class=""><a href="#" title="私募基金">私募基金</a></li>
                                    <li><a href="#">我要借款</a></li>
                                    <li class="last_child on"><a href="#">个人中心</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 头部 E--><!--ms-include-end--></div>
    <!-- 头部 E-->
    <div class="container">
        <div class="content">
            <!-- 中间容器 S -->
            <div class="mod_wrapper ov-hide">
                <!-- 左侧菜单栏S -->
                <div class="fixed-height-left"><!--ms-include--><div class="side-nav">
        <div class="user-avator">
            <!-- <a href="javascript:;" title="编辑头像"> -->
            	<img src="images/avators.png"><!-- </a> -->
            <a class="icon icon-level icon-level-0" href="https://www.qianshenghua.com/activity/vip.do" style="display: none;" title=""></a>
        </div>
        <p class="user-level" style="display: none;">
            会员等级：<a class="cGold" title="查看详情" href="https://www.qianshenghua.com/activity/vip.do">非会员</a>
        </p>
        <p class="user-name mod_fa">
            <span>130*****268</span>
            <!--ms-if-->
        </p>
        <div class="cert-icons">
            <!-- 通过验证 .icon-*-done  -->
                <!--html928923888549-->
               <!-- <a href="javascript:;" title="登录密码" onclick="HHN.dialog.updateLoginPsw();" class="icon icon-cpsw-done"></a><a href="#" title="手机认证" class="icon icon-cphone-done"></a><a href="javascript:;" var="" onclick="HHN.dialog.realNameCert();" title="实名认证" class="icon icon-cname"></a><a href="javascript:;" onclick="HHN.dialog.setTradePsw(&#39;130*****268&#39;)" title="交易密码" class="icon icon-cpsw"></a><a href="javascript:;" onclick="recharge(2);" title="银行卡号" class="icon icon-cbank"></a><a href="javascript:;" onclick="HHN.dialog.certEmail()" title="电子邮箱" class="icon icon-cmail"></a><!--html928923888549:end-->
        </div>
        <ul class="nav-list" id="fixed-nav">
            <li class="first" id="s1">
            	<!--
            				要想修改则需要把class属性  first  定位 加颜色
            										 on 去点颜色
            	-->
                <a class="first" href="#" id="s001">
                    <i class="icon icon-self"></i> 我的账户
                    <i class="icon icon-corner"></i>
                </a>
                <!--
                	显示则把class属性改成nav_sub second hide show
                	隐藏nav_sub second hide
                -->
                <div class="nav_sub second hide" id="ss1">  

                    <a class="hide show" target="_self"  id="s001_1">充值<i></i></a>
                    <a class="hide show" target="_self"  id="s001_2">提现<i></i></a>
                    <a class="hide show" target="_self"  id="s001_3">资金明细<i></i></a>
                    <a class="hide show" target="_self"  id="s001_4">银行卡管理<i></i></a>
                </div>
            </li>

            <li class="first" id="s2">
                <a class="first" href="#" id="s002">
                    <i class="icon icon-order"></i> 我的定期
                    <i class="icon icon-corner"></i>
                </a>
                <div class="nav_sub second hide" id="ss2">
                    <a class="" href="#" target="_self" id="s002_1">爱定宝<b class="new_not" style="display: none;"></b><i></i></a>
                    <a class="" href="#" target="_self" id="s002_2">加薪宝<b class="new_not" style="display: none;"></b><i></i></a>
                    <a class="" href="#" target="_self" id="s002_3">月利宝<i></i></a>
                    <a class="" href="#" target="_self" id="s002_4">养老宝<b class="new_not" style="display: none;"></b><i></i></a>
                  
                </div>
            </li>
            
            <li class="first" id="s3">
                <a class="first" href="#" id="s003">
                    <i class="icon icon-invite"></i> 推荐人奖励
           
                    <i class="icon icon-corner"></i>
                </a>
            </li>
           
            <li class="first" id="s4">
                <a class="first" href="#" id="s004">
                    <i class="icon icon-safe" ></i> 安全中心
                    <i class="icon icon-corner"></i>
                </a>
            </li>
           
            <li>
                <a class="first" href="#">
                    <i class="icon icon-exit"></i> 退出
                    <i class="icon icon-corner"></i>
                </a>
            </li>
        </ul>
    </div><!--ms-include-end--></div>
                <!-- 左侧菜单栏E -->
                <!--ms-view:--><div class="fixed-height-right" ui-view="" data-current-cache="false">
                	<div avalonctrl="safeCtrl">
<style>
    body { height: auto !important }
</style>
<!-- 右侧栏S -->
		
		<iframe id="t_001" src="myWoDeZhangHu.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_002" src="myChongChi.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_004" src="myTiXian.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_005" src="myZiJinMingXi.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_006" src="myWoDeDingQi.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_007" src="myTuiJianRenJiangLi.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_008" src="myAnQuanZhongXin.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_009" src="myXiuGaiShouJiHao.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_010" src="myYinHangKaGuanLi.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_011" src="myYinHangKaGenHuan.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		
		<iframe id="t_012" src="myAiDingBao.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_013" src="myJiaXinBao.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_014" src="myYueLiBao.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		<iframe id="t_015" src="myYangLaoBao.html" style="width: 920px;height: 800px;display: none;" scrolling="no"></iframe>
		

<!-- 右侧栏E -->
</div></div>
                <div class="fixed-height-lBorder"></div>
            </div>
            <!-- 中间容器 E -->
            <!--footer S-->
            <div><!--ms-include--><div class="mod_footer">
            <div class="footer-con clearfix">
                <div class="footer-menu clearfix">
                    <dl class="about">
                        <dt><i></i>关于我们</dt>
                        <dd><a href="#" title="公司介绍">公司介绍</a></dd>
                        <dd><a href="#" title="经营文化">经营文化</a></dd>
                        <dd><a href="#" title="企业背景">企业背景</a></dd>
                        <dd><a href="#" title="安全保障">安全保障</a></dd>
                        <dd><a href="#" title="新手引导">新手引导</a></dd>
                        <dd><a href="#" title="法律声明">法律声明</a></dd>
                    </dl>
                    <dl class="help">
                        <dt><i></i>帮助中心</dt>
                        <dd><a href="#" title="常见问题">常见问题</a></dd>
                        <dd><a href="#" title="联系我们">联系我们</a></dd>
                    </dl>
                </div>
                <div class="footer-focus">
                    <h3>关注我们</h3>
                    <ul class="clearfix">
                        <li class="first">
                            <a href="#">
                                <div class="img">
                                    <img src="images/f_weibo.jpg" alt="">
                                </div>
                                <p>新浪微博</p>
                            </a>
                        </li>
                        <li>
                            <div class="img">
                                <img src="images/f_qecode.jpg" alt="">
                            </div>
                            <p>微信公众号</p>
                        </li>
                        <li>
                            <a href="https://www.qianshenghua.com/about/app.do">
                                <div class="img">
                                    <img src="images/app_qr.png" alt="">
                                </div>
                                <p>移动客户端下载</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-service">
                    <h3>客服热线</h3>
                    <div class="phone clearfix">
                        <i></i>
                        <p>400-607-8787 <span>工作时间：8:30-20:30</span></p>
                    </div>
                    <div class="u-desk btn_udesk_im" onclick="HHN.uDesk(this)">
                        <p>在线客服<span>(一对一专属服务)</span></p>
                    </div>
                    <ul class="online-service">
                        <li> <i class="mail"></i> <a class="mail-link" href="mailto:kefu@fansfinancial.com">kefu@fansfinancial.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="content">
                    <p class="friend-link"><strong>友情链接：</strong><a style="margin-left:0" href="http://www.cnfantasia.com/">花样年集团（中国）有限公司</a> | <a href="http://gw.colourlife.com/">彩生活服务集团有限公司</a> | <a href="http://www.jinfuzi.com/">金斧子</a> | <a href="http://www.wdzj.com/">网贷之家</a></p>
                    <ul class="clearfix">
                        <li>Copyright ©2013-2017 www.qianshenghua.com</li>                        
                        <li>深圳市彩付宝科技有限公司</li>
                        <li>花样年集团金融战略合作企业（港联交所上市企业HK1777）</li>
                        <li>粤ICP备14000649号-4</li>
                    </ul>
                    <p class="tip">温馨提示：投资者应该仔细阅读定期产品的法律文件，了解产品风险和收益特征（包括系统性风险和特定产品所持有的投资风险等）。 投资者应根据自身资产情况、风险承受能力选择适合自己的定期产品。
                    </p>
                </div>
            </div>
    </div><!--ms-include-end--></div>
            <!-- footer E -->
        </div>
    </div>
    <div class="fixed-server" id="fixed-mbar">
        <a href="javascript:;" class="phone">
            <div class="pop">
                电话咨询：
                <p>400-607-8787</p>
                <span>早8:30-晚20:00</span>
                <i></i><b></b>
            </div>
        </a>
        <a class="qq btn_udesk_im" href="javascript:;" onclick="HHN.uDesk(this)">
            <div class="pop" style="top:-4px;" id="btnUdeskIm">
                <p>在线客服</p>
                <i></i><b></b>
            </div>
        </a>
        <a href="javascript:;" class="weixin">
            <div class="pop">
                <span class="pop_qr">
                    <img height="142" src="images/qr_code_zf.jpg" width="142">
                    <span class="pop_kf">钱生花客服微信</span>
                </span>
                <span class="pop_qrg">
                    <img height="142" src="images/weibo3.png" width="142">
                    <span class="pop_lc">钱生花投标公众号</span>
                </span>  
                <i></i><b></b>
            </div>
        </a>
        <a target="_blank" href="http://weibo.com/5655032686/profile?topnav=1&amp;wvr=6" class="weibo">
            <div class="pop" style="top:-70px;padding:8px;">
                <span class="pop_qr">
                    <img height="142" src="images/weibo_qr.png" width="142">
                    <span class="pop_kf">钱生花官方微博</span>
                </span>
                <i></i><b></b>
            </div>
        </a>
        <a href="javascript:;" class="top" style="display: none;"></a>
    </div>  
    
<script type="text/javascript">
$(function(){
	$("#s1").attr("class","on");
			$("#s2").attr("class","first");
			$("#s3").attr("class","first");
			$("#s4").attr("class","first");
			$("#ss1").attr("class","nav_sub second hide show");
			$("#ss2").attr("class","nav_sub second hide");
			//控制页面
			$("#t_001").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
});
		//我的账户
		$("#s001").click(function(){
			$("#s1").attr("class","on");
			$("#s2").attr("class","first");
			$("#s3").attr("class","first");
			$("#s4").attr("class","first");
			$("#ss1").attr("class","nav_sub second hide show");
			$("#ss2").attr("class","nav_sub second hide");
			//控制页面
			$("#t_001").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
			
		});
		//充值
		$("#s001_1").click(function(){
			$("#s1").attr("class","on");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
		//提现
		$("#s001_2").click(function(){
			$("#s1").attr("class","on");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
		//资金明细
		$("#s001_3").click(function(){
			$("#s1").attr("class","on");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
		//银行卡管理
		$("#s001_4").click(function(){
			$("#s1").attr("class","on");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
		//我的定期
		$("#s002").click(function(){
			$("#s1").attr("class","first");
			$("#s2").attr("class","on");
			$("#s3").attr("class","ofirstn");
			$("#s4").attr("class","first");
			$("#ss1").attr("class","nav_sub second hide");
			$("#ss2").attr("class","nav_sub second hide show");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
		//爱定宝
		$("#s002_1").click(function(){
			$("#s2").attr("class","on");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
		//加薪宝
		$("#s002_2").click(function(){
			$("#s2").attr("class","on");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
		//月利宝
		$("#s002_3").click(function(){
			$("#s2").attr("class","on");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
		//养老宝
		$("#s002_4").click(function(){
			$("#s2").attr("class","on");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: block;width: 920px;height: 800px;");
		});
		//推荐人奖励
		$("#s003").click(function(){
			$("#s1").attr("class","first");
			$("#s2").attr("class","first");
			$("#s3").attr("class","on");
			$("#s4").attr("class","first");
			$("#ss1").attr("class","nav_sub second hide");
			$("#ss2").attr("class","nav_sub second hide");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
		//安全中心
		$("#s004").click(function(){
			$("#s1").attr("class","first");
			$("#s2").attr("class","first");
			$("#s3").attr("class","first");
			$("#s4").attr("class","on");
			$("#ss1").attr("class","nav_sub second hide");
			$("#ss2").attr("class","nav_sub second hide");
			//控制页面
			$("#t_001").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_002").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_004").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_005").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_006").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_007").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_008").attr("style","display: block;width: 920px;height: 800px;");
			$("#t_009").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_010").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_011").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_012").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_013").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_014").attr("style","display: none;width: 920px;height: 800px;");
			$("#t_015").attr("style","display: none;width: 920px;height: 800px;");
		});
			
</script>

    


<div class="popover"><p></p><i></i><em></em></div></body></html>