<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="keywords"
		content="钱生花,钱生花官网,彩付宝,花样年金融,合润,合润资产,合和年,qianshenghua,投资投标,互联网金融,P2P网站,P2P网贷,P2P投标,p2p借贷平台,P2P信贷平台,网络借贷,网络小额贷款,花生惠,合花易贷" />
	<meta name="description"
		content="钱生花是花样年集团（中国）有限公司打造的创新型互联网金融平台，致力于为有小额贷款,薪金贷,业主贷,生意贷,等需求的借款人和有投标需求的出借人提供高安全、高收益的创新型投资投标服务。" />
	<meta name="360-site-verification"
		content="cc931fceee34e248861a6ce73610b75b" />

	<script>
		(function() {
			if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
				location.href = 'https://m.hehenian.com';
			}
		})();

		var CONFIG = {
			accountType : 0
		};
	</script>

	<title>钱生花风险提示 - 钱生花</title>
	<link rel="stylesheet" href="css/base.css?v=169a923" />
	<link rel="stylesheet" href="css/ui-dialog.css?v=f5bee41" />
	<link rel="stylesheet" href="css/base.css?v=bd4291f" />
	<link rel="stylesheet" href="css/center.css?v=5e5e3a2" />
	<link rel="stylesheet" href="css/debt.css?v=e7e233e" />
	<style>
.mod_footer {
	position: relative !important;
}
</style>
</head>
<body class="mod_fff">




	<link rel="stylesheet" href="css/base.css?v=bd4291f" />
	<link rel="stylesheet" href="css/center.css?v=5e5e3a2" />
	<!-- 头部S -->
	<div class="top-bar-wrapper">
		<div class="top-bar" id="topNavFixed" data-offset="120">
			<div class="header_wrapper">
				<a href="#" target="_self" class="new-logo"> <img
					src="images/logo4.gif" alt="彩付宝|花样年" width="415" height="56"></a>
				<!-- .login-menued 显示已登录/ 没有这登录or注册模式-->
				<div class="login">

					<div class="login_bar">
						<i class="center_icon center_icon_mobile"></i>
						<p>
							<a href="#">登录</a><i>|</i><a href="#">注册</a>
						</p>
						<div class="login_app">
							<a href="https://www.qianshenghua.com/about/app" title="钱生花APP"
								class='login_s'> <i class="top_icon animate"></i> APP <span
								class="top_icon top_icon_down"></span>
								<div class="login_eqcode">
									<img src="images/app_qr.png?v=41ad766" width="140" height="140"
										alt="钱生花app">
										<p>钱生花客户端</p>
								</div>
							</a>
						</div>
					</div>


					<div class="login_nav">
						<ul>
							<li class=""><a href="#" title="钱生花首页">首页</a></li>
							<li class="on"><a href="$" title="我要投资">我要投资</a>
								<div class="sub_login_nav">
									<i></i>
									<div class="in">
										<a class="" href="#" title="定期专区"><b></b>定期专区</a> <a class=""
											href="https://www.qianshenghua.com/finance/index"
											title="散标专区"><b></b>散标专区</a> <a class=""
											href="https://www.qianshenghua.com/debt/index" title="债权转让"><b></b>债权转让</a>
									</div>
								</div></li>
							<!--                       <li class=""><a href="https://www.qianshenghua.com/cupData/index" title="新手引导">基金</a></li> -->
							<li class=""><a href="#" title="新手引导">新手引导</a></li>
							<li class=""><a href="#" title="关于我们">关于我们</a></li>
							<!-- <li class="shop_go"><a href="https://www.qianshenghua.com/goods/index.do">0元购</a></li> -->
							<li class=""><a href="#" title="知识讲堂">知识讲堂</a></li>
							<li class=""><a href="#" title="私募基金">私募基金</a></li>
							<li class=""><a href="#" title="我要借款">我要借款</a></li>
							<li class="last_child  "><a href="#">个人中心</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container clearfix" style="min-height: 100%;">
		<div class="content">
			<!-- 头部S -->
			<div class="mod_wrapper">
				<div class="ensure">

					<div class="ensure_content">
						<h3>钱生花风险提示</h3>

						<p>尊敬的用户：</p>

						<p class="indent">
							在您进行互联网金融投资时，可能会获得较高的投资收益，但同时也存在着一定的投资风险。为了使您更好地了解其中的风险，根据有关法律法规、行政规章要求和网站产品的业务规则，特提供本风险揭示书，请您认真详细阅读，在充分了解并清楚知晓产品蕴含风险的基础上，通过理性判断自主参与交易，自愿承担相关风险。
							<p>
								<p class="ensre_bold">一、宏观经济风险</p>

								<p class="indent">由于我国宏观经济形势的变化以及其他国家、地区宏观经济环境和市场的变化，可能会引起国内实体经济行业的波动，影响借款项目的本息回款，使您存在不能或不能及时达到预期收益的可能，您将不得不承担由此造成的损失，您须知晓并明确此风险。
								</p>

								<p class="ensre_bold">二、政策风险</p>

								<p class="indent">有关法律、法规及相关政策、规则发生变化，可能引起互联网金融行业波动，使您存在不能或不能及时达到预期收益的可能，您将不得不承担由此造成的损失，您须知晓并明确此风险。</p>


								<p class="ensre_bold">三、信用风险</p>

								<p class="indent">我司平台提供网络借贷信息中介服务，您所投资的每一笔本金都将向特定借款人出借，所有借款项目都来自于真实的借款需求，但不排除由于借款人恶意违约、突发变故、不可抗力因素等导致借款人无法按时准确还款，有可能导致借款项目出现逾期，导致您有可能无法按时收回投资本金及利息，您须知晓并明确此风险。</p>


								<p class="ensre_bold">四、技术风险</p>

								<p class="indent">由于借款项目与出借资金的撮合服务是通过电子通讯技术和电脑技术来实现的，这些技术存在着被网络黑客和计算机病毒攻击的可能；同时在我司尽到妥善的注意义务之外，通讯技术、电脑技术仍然具有存在缺陷的可能，这些风险可能给您带来损失或资金不能即时到账，您须知晓并明确此风险。</p>

								<p class="ensre_bold">五、不可抗力风险</p>

								<p class="indent">诸如地震、台风、火灾、水灾、战争、瘟疫、社会动乱等不可抗力因素可能导致网站IT系统的瘫痪；我司无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障等也可能导致IT系统非正常运行甚至瘫痪；这些都会使您的投资委托无法成交或者无法全部成交，或者资金不能即时到账，您将不得不承担由此导致的损失和不便，您须知晓并明确此风险。</p>
								<p class="ensre_bold">六、其他风险</p>

								<p class="indent">由于您密码失密、操作不当等原因可能会使您发生账户被盗用的损失；由于热键操作完毕后未及时退出，他人进行恶意操作而造成的账户被盗用的损失；登录未及时退出还可能遭遇黑客攻击，从而造成账户被盗用的损失；上述损失都将由您自行承担，您须知晓并明确此风险。</p>
					</div>
				</div>
			</div>
		</div>


		<div class="mod_footer">
			<div class="footer-con clearfix">
				<div class="footer-menu clearfix">
					<dl class="about">
						<dt>
							<i></i>关于我们
						</dt>
						<dd>
							<a href="#" title="公司介绍">公司介绍</a>
						</dd>
						<dd>
							<a href="#" title="经营文化">经营文化</a>
						</dd>
						<dd>
							<a href="#" title="企业背景">企业背景</a>
						</dd>
						<dd>
							<a href="#" title="安全保障">安全保障</a>
						</dd>
						<dd>
							<a href="#" title="新手引导">新手引导</a>
						</dd>
						<dd>
							<a href="#" title="法律声明">法律声明</a>
						</dd>
					</dl>
					<dl class="help">
						<dt>
							<i></i>帮助中心
						</dt>
						<dd>
							<a href="#" title="常见问题">常见问题</a>
						</dd>
						<dd>
							<a href="#" title="联系我们">联系我们</a>
						</dd>
					</dl>
				</div>
				<div class="footer-focus">
					<h3>关注我们</h3>
					<ul class="clearfix">
						<li class="first"><a rel="nofollow" target="_blank"
							href="http://weibo.com/5655032686/profile?topnav=1&wvr=6">
								<div class="img">
									<img src="images/2017/f_weibo.jpg?v=8c742db" alt="钱生花新浪微博" />
								</div>
								<p>新浪微博</p>
						</a></li>
						<li>
							<div class="img">
								<img src="images/2017/f_qecode.jpg?v=45103b9" alt="钱生花微信" />
							</div>
							<p>微信公众号</p>
						</li>
						<li><a target="_blank"
							href="https://www.qianshenghua.com/about/app">
								<div class="img">
									<img src="images/app_qr.png?v=41ad766" alt="钱生花APP" />
								</div>
								<p>移动客户端下载</p>
						</a></li>
					</ul>
				</div>
				<div class="footer-service">
					<h3>客服热线</h3>
					<div class="phone clearfix">
						<i></i>
						<p>
							400-607-8787 <span>工作时间：8:30-20:30</span>
						</p>
					</div>
					<div class="u-desk btn_udesk_im" onclick="HHN.uDesk(this)">
						<p>
							在线客服<span>(一对一专属服务)</span>
						</p>
					</div>
					<ul class="online-service">
						<li><i class="mail"></i> <a class="mail-link"
							href="mailto:kefu@fansfinancial.com">kefu@fansfinancial.com</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="content">
					<p class="friend-link">
						<strong>友情链接：</strong><a style="margin-left: 0" target="_blank"
							rel="nofollow" href="http://www.cnfantasia.com">花样年集团（中国）有限公司</a>
						| <a target="_blank" rel="nofollow"
							href="http://gw.colourlife.com">彩生活服务集团有限公司</a> | <a
							target="_blank" rel="nofollow" href="http://www.jinfuzi.com">金斧子</a>
						| <a target="_blank" rel="nofollow" href="http://www.wdzj.com">网贷之家</a>
					</p>
					<ul class="clearfix">
						<li>Copyright ©2013-2017 www.qianshenghua.com</li>
						<li>深圳市彩付宝科技有限公司</li>
						<li>花样年集团金融战略合作企业（港联交所上市企业HK1777）</li>
						<li>粤ICP备14000649号-4</li>
					</ul>
					<p class="tip">温馨提示：投资者应该仔细阅读定期产品的法律文件，了解产品风险和收益特征（包括系统性风险和特定产品所持有的投资风险等）。
						投资者应根据自身资产情况、风险承受能力选择适合自己的定期产品。</p>
				</div>
			</div>
		</div>
		<div class="fixed-server" id="fixed-mbar">
			<a href="javascript:;" class="phone">
				<div class="pop">
					电话咨询：
					<p>400-607-8787</p>
					<span>早8:30-晚20:30</span> <i></i><b></b>
				</div>
			</a> <a class="qq btn_udesk_im" href="javascript:;"
				onclick="HHN.uDesk(this)">
				<div class="pop" id="btnUdeskIm" style="top: -4px;">
					<p>在线客服</p>
					<i></i><b></b>
				</div>
			</a> <a href="javascript:;" class="weixin">
				<div class="pop">
					<span class="pop_qr"> <img height="142"
						src="images/qr_code_zf.jpg?v=6d25955" width="142"> <span
							class="pop_kf">钱生花客服微信</span></span> <span class="pop_qrg"> <img
						height="142" src="images/weibo3.png?v=946efba" width="142">
							<span class="pop_lc">钱生花投标公众号</span></span> <i></i><b></b>
				</div>
			</a> <a target="_blank"
				href="http://weibo.com/5655032686/profile?topnav=1&wvr=6"
				class="weibo">
				<div class="pop" style="top: -70px; padding: 8px;">
					<span class="pop_qr"> <img height="142"
						src="images/weibo_qr.png?v=ccced96" width="142"> <span
							class="pop_kf">钱生花官方微博</span></span> <i></i><b></b>
				</div>
			</a> <a href="javascript:;" class="top"></a>
		</div>
		<script
			src="https://static.hehenian.com/p/js/libs/jquery.js?v=e128811"></script>
		<script src="https://static.hehenian.com/p/js/global.js?v=5bca8d6"></script>
		<script type="text/javascript">
			$("#qshqrcode")
					.bind(
							"click",
							function() {
								dialog(
										{
											quickClose : true,
											content : '<img src="images/qrcode_258x258_wx.jpg?v=946efba">'
										}).showModal();
							});
			if (HHN.getCookie('principal') == 1) {
				$('.pop_qr').css('display', 'inline-block');
			}
		</script>

	</div>

	</div>
	</div>
	<script src="https://static.hehenian.com/p/js/libs/jquery.js?v=e128811"></script>
	<script src="https://static.hehenian.com/p/js/global.js?v=5bca8d6"></script>
	<script
		src="https://static.hehenian.com/p/js/plugins/template.js?v=2571858"></script>
	<script
		src="https://static.hehenian.com/p/js/plugins/pagenavigation.js?v=5678761"></script>
	<!--[if IE]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->

	<script
		src="https://static.hehenian.com/p_v2/js/widgets/radialIndicator.min.js?v=3d40489"></script>
	<script>
		try {
			document.createElement("canvas").getContext("2d");
			$('.knob').each(function() {
				var val = $(this).data('init');
				$(this).radialIndicator({
					showPercentage : true,
					initValue : val,
					barColor : "#fbb144",
					radius : 40,
					percentage : true,
					fontSize : 16
				});
			});
		} catch (e) {
			$('.knob').each(function() {
				var val = $(this).data('init');
				$(this).html("<span class='forg'>" + val + '%</span>');
			});
		}
	</script>

</body>
</html>