<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="钱生花,钱生花官网,彩付宝,花样年金融,合润,合润资产,合和年,qianshenghua,投资投标,互联网金融,P2P网站,P2P网贷,P2P投标,p2p借贷平台,P2P信贷平台,网络借贷,网络小额贷款,花生惠,合花易贷" />
    <meta name="description" content="钱生花是花样年集团（中国）有限公司打造的创新型互联网金融平台，致力于为有小额贷款,薪金贷,业主贷,生意贷,等需求的借款人和有投标需求的出借人提供高安全、高收益的创新型投资投标服务。" />
    <meta name="360-site-verification" content="cc931fceee34e248861a6ce73610b75b" />
   
    <script>
        (function(){
            if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
                location.href = 'https://m.hehenian.com';
            }
        })();
        
        var CONFIG = {
                accountType: 0
        };
    </script>

	<title>双重安全保障计划 - 钱生花</title>
    <link rel="stylesheet" href="css/base.css?v=169a923" />
    <link rel="stylesheet" href="css/ui-dialog.css?v=f5bee41" />
    <link rel="stylesheet" href="css/base.css?v=bd4291f" />
    <link rel="stylesheet" href="css/center.css?v=5e5e3a2" />
    <link rel="stylesheet" href="css/debt.css?v=e7e233e" />
    <style>
        .mod_footer { position: relative !important; }
    </style>
</head>
<body class="mod_fff">
    



<link rel="stylesheet" href="css/base.css?v=bd4291f" />
<link rel="stylesheet" href="css/center.css?v=5e5e3a2" /><!-- 头部S -->
<div class="top-bar-wrapper">    
<div class="top-bar" id="topNavFixed" data-offset="120">
        <div class="header_wrapper">
            <a href="#" target="_self" class="new-logo">
                <img src="images/logo4.gif" alt="彩付宝|花样年" width="415" height="56">            </a>
            <!-- .login-menued 显示已登录/ 没有这登录or注册模式-->
            <div class="login" >
            	
	                <div class="login_bar">
	                    <i class="center_icon center_icon_mobile"></i>
	                    <p><a href="#">登录</a><i>|</i><a href="#">注册</a></p>
	                    <div class="login_app">
	                        <a href="#" title="钱生花APP" class='login_s'>
	                            <i class="top_icon animate"></i>
	                            APP
	                            <span class="top_icon top_icon_down"></span>
	                            <div class="login_eqcode">
	                                <img src="images/app_qr.png?v=41ad766" width="140" height="140" alt="钱生花app">
	                                <p>钱生花客户端</p>
	                            </div>
	                        </a>
	                    </div>
	                </div>
            	
                
                <div class="login_nav">
                    <ul>
                        <li class=""><a href="#" title="钱生花首页">首页</a></li>
                        <li class="on"><a href="#" title="我要投资">我要投资</a>
							<div class="sub_login_nav">
                                <i></i>
                                <div class="in">
                                    <a class="" href="#" title="定期专区"><b></b>定期专区</a>
                                    <a class="" href="#" title="散标专区"><b></b>散标专区</a>
                                    <a class="" href="#" title="债权转让"><b></b>债权转让</a>
                                </div>
                            </div>
                        </li>
  <!--                       <li class=""><a href="https://www.qianshenghua.com/cupData/index" title="新手引导">基金</a></li> -->
						<li class=""><a href="#" title="新手引导">新手引导</a></li>
						<li class=""><a href="#" title="关于我们">关于我们</a></li>
                        <!-- <li class="shop_go"><a href="https://www.qianshenghua.com/goods/index.do">0元购</a></li> -->
						<li class=""><a href="#" title="知识讲堂">知识讲堂</a></li>
                        <li class=""><a href="#" title="私募基金">私募基金</a></li>
                        <li class=""><a href="#" title="我要借款">我要借款</a></li>
                        <li class="last_child  "><a href="#">个人中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container clearfix" style="min-height:100%;">
        <div class="content">
    <!-- 头部S -->
			<div class="mod_wrapper">
                <div class="ensure">
                    <div class="ensure_content">
                        <h3>安全保障计划</h3>
                        <p>「安全保障计划」是钱生花( www.qianshenghua.com )为保护在平台全体出借人的共同权益而建立的信用风险保障机制。平台的所有出借人经过平台身份认证后，在平台的投资行为均适用于「安全保障计划」，出借人无需做额外操作，也不需要承担任何费用。钱生花平台为了最大限度保障出借人的资金安全，为出借人提供了四重保障计划。
                        </p>

                        <p class="ensre_bold ensure__title">一、第三方机构提供担保</p>
                        <p>第三方机构提供担保，您的资金多一重保障！
                            <p>
                                <p>无关联关系的独立第三方机构深圳市通宝非融资性担保有限公司为借款客户向投资人提供担保。</p>
                                <table class="ensure__table">
                                    <tr>
                                        <td colspan="2" class="ensure__font-blue">第三方担保公司基本信息</td>
                                    </tr>
                                    <tr>
                                        <td width="50%">公司名称</td>
                                        <td>深圳市通宝非融资性担保有限公司</td>
                                    </tr>
                                    <tr>
                                        <td>统一社会信用代码</td>
                                        <td>91440300MA5EK67Q1N</td>
                                    </tr>
                                    <tr>
                                        <td>注册资本</td>
                                        <td>1亿元整</td>
                                    </tr>
                                </table>
                                <p class="ensre_bold ensure__title">二、信息安全</p>

                                <p>平台采用专业技术，为您的信息安全提供360°技术支持！</p>
                                <p><span class="ensure__font-blue">SSL传输加密 </span>: SSL是全球知名网络安全公司提出的安全保密协议，在浏览器和Web服务器之间构造安全通道来进行数据传输，为应用程序提供加密数据通道，它使用40 位的密钥，被全球许多知名金融企业和机构用于商业信息的加密。</p>
                                <p><span class="ensure__font-blue">智能IPS</span>：智能ISP是新一代的侵入检测系统。IPS能够识别侵入、冲击等事件并做出适当的分析，然后将合适的信息和命令传送给防火墙、交换机和其它的网络设备以减轻风险事件的影响。
                                </p>
                                <p><span class="ensure__font-blue">数据容灭</span>：数据容灭技术是互联网应用最为广泛的安全备份技术之一。它使得您的数据在各种灾害情况下（如设备故障、人为因素及其他不 可抗拒的灾难和意外，火灾、水灾、地震、战争、人为破坏）时，安全及时的接管业务，确保您的业务和数据正常运行。
                                </p>
                                <p class="ensre_bold ensure__title">三、严格风控</p>
                                <p>严格风控流程，多元化维护您的合法权益！</p>
                                <p>1）专业风控团队，用专业铸造信赖</p>
                                <p>钱生花组建了专业的风控团队，团队成员主要来自招商银行、渣打银行、交通银行以及当今世界评级机构中最负盛名的穆迪投资服务有限公司、兆邦基集团、融捷集团等国内各大银行和金融机构。钱生花风控团队集合了各金融机构风控体系的经验优势，把风险控制，大数据分析，信用的评级做到银行系风控水平。从风控体系建立到执行，从贷前审查到贷后管理，银行级专业的风控团队不断输出高标准的标的项目，为您的投资一路护航。
                                </p>
                                <p>2）双重审核项目规格</p>
                                <p class="ensure__font-blue">第一重</p>
                                <p><span class="ensure__font-blue">• 实地考察</span>：第三方机构线下实地考察借款人。</p>
                                <p>审核包括银行流水、实地调查数据。审核银行流水可判断借款人的还款能力；实地调查数据包括借款人的房屋信息证明、家庭组成证明、社会关系证明、个人基本信息证明。
                                </p>
                                <p>平台接入的信用贷款均选定有房产的用户，保证借款人的稳定性，为出借人的资金提供安全保障。</p>
                                <p class="ensure__font-blue">第二重</p>
                                <p><span class="ensure__font-blue">• 平台复审</span>：平台对借款项目资料进行二次复核，以确保借款项目资料的真实性、合规性。</p>
                                <p><span class="ensure__font-blue">• 资料审核</span>：审核包括人民银行征信报告、税务系统数据、工商系统数据等多种必备材料。通过人民银行征信报告，可以从借款人的贷款偿 还记录以及同盾、鹏元、芝麻等小贷的偿还记录，判断借款人的偿还能力；税务系统数据、工商系统数据可查到借款人欠税等信息，进一步判断借款人的偿还能力。
                                </p>
                                <p><span class="ensure__font-blue">• 交叉对比</span>：第三方机构通过调查提供的信息与借款人提供的信息相互独立，系统会对比双方材料，生成考察报告，保证考察报告的真实、公平、公正性。
                                </p>
                                <p class="ensre_bold ensure__title">四、专业法律团队</p>
                                <p>法律护航，您的资金法律帮您守护！</p>
                                <p>钱生花平台与广东融关（前海）律师事务所达成战略合作关系。</p>
                                <p>广东融关（前海）律师事务所主任徐建律师，曾担任深圳市司法局副局长、深圳市律师协会会长，现任中国人民大学律师学院院长。广东融关（前海）律师事务所在业内率先将互联网金融法律服务作为核心业务，是深圳金融办指定的指导备案合作律所，在深圳市仍至全国都有专业影响力。
                                </p>
                    </div>
                </div>
				
    </div>
    

    <div class="mod_footer">
            <div class="footer-con clearfix">
                <div class="footer-menu clearfix">
                    <dl class="about">
                        <dt><i></i>关于我们</dt>
                        <dd><a href="#" title="公司介绍">公司介绍</a></dd>
                        <dd><a href="#" title="经营文化">经营文化</a></dd>
                        <dd><a href="#" title="企业背景">企业背景</a></dd>
                        <dd><a href="#" title="安全保障">安全保障</a></dd>
                        <dd><a href="#" title="新手引导">新手引导</a></dd>
                        <dd><a href="#" title="法律声明">法律声明</a></dd>
                    </dl>
                    <dl class="help">
                        <dt><i></i>帮助中心</dt>
                        <dd><a href="#" title="常见问题">常见问题</a></dd>
                        <dd><a href="#" title="联系我们">联系我们</a></dd>
                    </dl>
                </div>
                <div class="footer-focus">
                    <h3>关注我们</h3>
                    <ul class="clearfix">
                        <li class="first">
                            <a rel="nofollow" target="_blank" href="http://weibo.com/5655032686/profile?topnav=1&wvr=6">
                                <div class="img">
                                    <img src="images/f_weibo.jpg?v=8c742db" alt="钱生花新浪微博" />
                                </div>
                                <p>新浪微博</p>
                            </a>
                        </li>
                        <li>
                            <div class="img">
                                <img src="images/f_qecode.jpg?v=45103b9" alt="钱生花微信" />
                            </div>
                            <p>微信公众号</p>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.qianshenghua.com/about/app">
                                <div class="img">
                                    <img src="images/app_qr.png?v=41ad766" alt="钱生花APP" />
                                </div>
                                <p>移动客户端下载</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-service">
                    <h3>客服热线</h3>
                    <div class="phone clearfix">
                        <i></i>
                        <p>400-607-8787 <span>工作时间：8:30-20:30</span></p>
                    </div>
                    <div class="u-desk btn_udesk_im" onclick="HHN.uDesk(this)">
                        <p>在线客服<span>(一对一专属服务)</span></p>
                    </div>
                    <ul class="online-service">
                        <li> <i class="mail"></i> <a class="mail-link" href="mailto:kefu@fansfinancial.com">kefu@fansfinancial.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="content">
                    <p class="friend-link"><strong>友情链接：</strong><a style="margin-left:0" target="_blank" rel="nofollow"  href="http://www.cnfantasia.com">花样年集团（中国）有限公司</a> | <a target="_blank" rel="nofollow" href="http://gw.colourlife.com">彩生活服务集团有限公司</a> | <a target="_blank" rel="nofollow" href="http://www.jinfuzi.com">金斧子</a> | <a target="_blank" rel="nofollow" href="http://www.wdzj.com">网贷之家</a></p>
                    <ul class="clearfix">
                        <li>Copyright ©2013-2017 www.qianshenghua.com</li>                        
                        <li>深圳市彩付宝科技有限公司</li>
                        <li>花样年集团金融战略合作企业（港联交所上市企业HK1777）</li>
                        <li>粤ICP备14000649号-4</li>
                    </ul>
                    <p class="tip">温馨提示：投资者应该仔细阅读定期产品的法律文件，了解产品风险和收益特征（包括系统性风险和特定产品所持有的投资风险等）。 投资者应根据自身资产情况、风险承受能力选择适合自己的定期产品。
                    </p>
                </div>
            </div>
    </div>
    <div class="fixed-server" id="fixed-mbar">
        <a href="javascript:;" class="phone">
            <div class="pop">
                电话咨询：
                <p>400-607-8787</p>
                <span>早8:30-晚20:30</span>
                <i></i><b></b>
            </div>
        </a>
        <a class="qq btn_udesk_im" href="javascript:;" onclick="HHN.uDesk(this)">
            <div class="pop" id="btnUdeskIm" style="top:-4px;">
                <p>在线客服</p>
                <i></i><b></b>
            </div>
        </a>
        <a href="javascript:;" class="weixin">
            <div class="pop">
                <span class="pop_qr">
                    <img height="142" src="images/qr_code_zf.jpg?v=6d25955" width="142">
                    <span class="pop_kf">钱生花客服微信</span>
                </span>
                <span class="pop_qrg">
                    <img height="142" src="images/weibo3.png?v=946efba" width="142">
                    <span  class="pop_lc">钱生花投标公众号</span>
                </span> 
                <i></i><b></b>
            </div>
        </a>
        <a target="_blank" href="http://weibo.com/5655032686/profile?topnav=1&wvr=6" class="weibo">
            <div class="pop" style="top:-70px;padding:8px;">
                <span class="pop_qr">
                    <img height="142" src="images/weibo_qr.png?v=ccced96" width="142">
                    <span class="pop_kf">钱生花官方微博</span>
                </span>
                <i></i><b></b>
            </div>
        </a>
        <a href="javascript:;" class="top"></a>
    </div>       
    <script src="https://static.hehenian.com/p/js/libs/jquery.js?v=e128811"></script>
    <script src="https://static.hehenian.com/p/js/global.js?v=5bca8d6"></script>
    <script type="text/javascript">
    $("#qshqrcode").bind("click", function() {
		dialog({
    	    quickClose: true,
    	    content: '<img src="images/qrcode_258x258_wx.jpg?v=946efba">'
    	}).showModal();
	});
    if(HHN.getCookie('principal')==1) {
        $('.pop_qr').css('display','inline-block');
    }
    </script>

    </div>
    </div>
    <script src="https://static.hehenian.com/p/js/libs/jquery.js?v=e128811"></script>
    <script src="https://static.hehenian.com/p/js/global.js?v=5bca8d6"></script>
    <script src="https://static.hehenian.com/p/js/plugins/template.js?v=2571858"></script>

</body>
</html>