<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="keywords"
		content="钱生花,钱生花官网,彩付宝,花样年金融,合润,合润资产,合和年,qianshenghua,投资投标,互联网金融,P2P网站,P2P网贷,P2P投标,p2p借贷平台,P2P信贷平台,网络借贷,网络小额贷款,花生惠,合花易贷" />
	<meta name="360-site-verification"
		content="cc931fceee34e248861a6ce73610b75b" />

	<script>
		var CONFIG = {
			accountType : 0
		};
	</script>
	<script type="text/javascript" src="./js/jquery.js"></script>


	<meta name="description"
		content="养老宝是钱生花为退休客户推出的对优质借款项目进行自动投资的计划产品，产品投资标的为采取每月付息到期还本还款方式的借款项目。钱生花优先对符合要求的标的进行自动投标，每月回款利息自动返回用户的钱生花账户余额，所对应投资标的若已到期，剩余本金通过便捷高效的自动投标工具自动投资新的标的，期限结束后钱生花会通过钱生花债权交易广场进行转让退出。" />
	<title>养老宝12期|年化利率（历史）9% - 钱生花</title>
	<link rel="stylesheet" href="./css/zeroModal.css" />
	<link rel="stylesheet" href="./css/ui-dialog.css?v=f5bee41" />
	<link rel="stylesheet" href="./css/base.css?v=bd4291f" />
	<link rel="stylesheet" href="./css/center.css?v=5e5e3a2" />
	<link rel="stylesheet" href="./css/jquery.gDialog.css">
	<!-- 头部S -->
	<style>
.mod_footer {
	position: relative !important;
}

.pro_table tr td a {
	color: #ba6b0f;
	text-decoration: underline;
}
</style>
</head>
<body class="mod_fff">
	<div class="container">
		<div class="content">

			<!-- 头部S -->




			<link rel="stylesheet" href="./css/base.css" />
			<link rel="stylesheet" href="./css/center.css?v=5e5e3a2" />
			<!-- 头部S -->
			<div class="top-bar-wrapper">
				<div class="top-bar" id="topNavFixed" data-offset="120">
					<div class="header_wrapper">
						<a href="https://www.qianshenghua.com" target="_self"
							class="new-logo"> <img src="./img/logo4.gif" alt="彩付宝|花样年"
							width="415" height="56"></a>
						<!-- .login-menued 显示已登录/ 没有这登录or注册模式-->
						<div class="login">

							<div class="login_bar">
								<i class="center_icon center_icon_mobile"></i>
								<p>
									<a href="#">登录</a><i>|</i><a href="#">注册</a>
								</p>
								<div class="login_app">
									<a href="#" title="钱生花APP" class='login_s'> <i
										class="top_icon animate"></i> APP <span
										class="top_icon top_icon_down"></span>
										<div class="login_eqcode">
											<img src="./img/app_qr.png?v=41ad766" width="140"
												height="140" alt="钱生花app">
												<p>钱生花客户端</p>
										</div>
									</a>
								</div>
							</div>


							<div class="login_nav">
								<ul>
									<li class=""><a href="#" title="钱生花首页">首页</a></li>
									<li class="on"><a href="#" title="我要投资">我要投资</a>
										<div class="sub_login_nav">
											<i></i>
											<div class="in">
												<a class="on" href="#" title="定期专区"><b></b>定期专区</a> <a
													class="" href="#" title="散标专区"><b></b>散标专区</a> <a class=""
													href="#" title="债权转让"><b></b>债权转让</a>
											</div>
										</div></li>
									<li class=""><a href="#" title="新手引导">基金</a></li>
									<li class=""><a href="#" title="新手引导">新手引导</a></li>
									<li class=""><a href="#" title="关于我们">关于我们</a></li>
									<!-- <li class="shop_go"><a href="https://www.qianshenghua.com/goods/index.do">0元购</a></li> -->
									<li class=""><a href="#" title="知识讲堂">知识讲堂</a></li>
									<li class=""><a href="#" title="私募基金">私募基金</a></li>
									<li class=""><a href="#" title="我要借款">我要借款</a></li>
									<li class="last_child  "><a href="#">个人中心</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<input type="hidden" id="mounth" name="mounth" value="" /> <input
				type="hidden" id="rateId" name="rateId" value="" /> <input
				type="hidden" id="rate" name="rate" value="" /> <input
				type="hidden" id="productName" name="productName" value="" /> <input
				type="hidden" id="coefficient" name="coefficient" value="" /> <input
				type="hidden" id="channel" name="channel" value="0" /> <input
				type="hidden" id="sub_channel" name="sub_channel" value="5" /> <input
				type="hidden" id="projectId" name="projectId" value="10002" /> <input
				type="hidden" id="ticketId" name="ticketId" value="0" /> <input
				type="hidden" id="ticketAmount" name="ticketAmount" value="0" />

			<div class="pro_banner pro_banner2">
				<div class="inner">
					<div class="inner_list clearfix">
						<div class="pro_detail">
							<div class="hd clearfix">
								<h3>
									养老宝12期 <span>(编号：10002)</span>
								</h3>
								<p class="invest">
									已投笔数: <span class="cGold">23次</span>
								</p>
							</div>
							<div class="bd clearfix">
								<div class="item">
									<span>年化利率（历史）</span>


									<p class="cGold">9%</p>

								</div>
								<div class="item">
									<span>项目期限</span>
									<p class="cGold">12个月</p>
								</div>
								<div class="item noborder">
									<span>还款方式</span>
									<p class="cGold">每月返息，到期还本</p>
								</div>
								<div class="clear"></div>
								<div class="item">
									<span>本期总借款额</span>
									<p class="cGold">30000000.00元</p>
								</div>
								<div class="item noborder">
									<span>起息时间</span>
									<p class="cGold">购买后下一工作日</p>
								</div>
							</div>
							<div class="ft">
								安全保障：<a href="securityAssurance.html" target="_blank"
									title="钱生花安全保障">详情参见钱生花安全保障</a>
							</div>
							<!--                         <div class="ft risk_test">
                            风险评估：<a target="_blank" href="https://www.qianshenghua.com/view/riskTest.html">详请参见风险评估测试</a>                       
                        </div> -->
						</div>
						<div class="buy_pannel">
							<ul class="meta">
								<li><label>投资进度：</label>
									<div class="progress">
										<span class="in" style="width: 11%"></span>
									</div> <span class="cGold">11%</span></li>
								<li><label>可投余额： </label> <span class="cGold">26635000.00元</span>
								</li>
								<li><label>账户余额：</label> <span><span
										id="balanceSpan">0</span>元</span> <a href="javascript:checkChoose(1)"
									class="charge_btn">充值</a></li>
								<li><label>优惠券： </label> <span>请输入投标金额</span> <a
									href="javascript:;" class="charge_btn" id="coupon">查看</a></li>
							</ul>
							<div class="form">
								<div class="input_wrap">
									<input id="money" placeholder="10000元起投资" class="text"
										type="text"
										onkeyup='this.value=this.value.replace(/[^0-9]\D*$/,"")' />
									<!--'this.value=this.value.replace(/\D/gi,"")'   -->
									<p class="unit">元</p>
								</div>
								<div class="sms_verify clearfix">
									<input type="text" class="text" placeholder="请输入验证码"
										id="smsMobile" /> <a href="javascript:_smsBtn();"
										class="send_btn" id="smsBtn"
										ptitle="<span style='line-height:1.5;color:#FF1F1F'>提醒：为保障您合法的权益我们将发送验证码，输入验证码表明您本人<br>已同意签署《爱定宝服务协议》、《信息调用授权委托书》和《钱生花风险提示书》</span>">免费获取</a>
								</div>
								<ul class="agreemet">
									<li><label> <input id="checkbox" type="checkbox"
											checked="checked" />我已阅读并同意
									</label> <span class="cGold"> <a target="_blank"
											href="agreement?channel=0&subChannel=5">《养老宝协议》</a> 、<a
											target="_blank" href="authorize.html" title="信息调用授权委托书">《信息调用授权委托书》</a>
											、<a target="_blank" href="riskTips.html" title="钱生花风险提示书">《钱生花风险提示书》</a>
									</span> </span></li>
									<!-- <li><label><input type="checkbox" checked="checked" /> 允许系统自动配标</label></li> -->
								</ul>
								<a href="javascript:;" onClick="_error(10000)"
									class="submit_btn" id="buyBtn">投 标</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="pro_wrap">
				<div class="pro_item">
					<h3>
						<i class="pro_icon pro_icon_i"></i>产品简介
					</h3>
					<p>养老宝是钱生花为退休客户推出的对优质借款项目进行自动投资的计划产品，产品投资标的为采取每月付息到期还本还款方式的借款项目。钱生花优先对符合要求的标的进行自动投标，每月回款利息自动返回用户的钱生花账户余额，所对应投资标的若已到期，剩余本金通过便捷高效的自动投标工具自动投资新的标的，期限结束后钱生花会通过钱生花债权交易广场进行转让退出。</p>
				</div>
				<div class="pro_item">
					<h3>
						<i class="pro_icon pro_icon_g"></i>概要
					</h3>
					<ul>
						<li>起投金额：10000元起投</li>
						<li>购买期限：<span class="j-time">12个月</span></li>




						<li>锁 定 期：3个月，锁定期内不可赎回</li>


						<li>计息日期：购买后下一工作日</li>
						<li>还款方式：每月返息，到期还本</li>
						<li>投资要求：风险测评级别“保守型”及以上</li>
					</ul>
				</div>
				<div class="pro_item">
					<h3>
						<i class="pro_icon pro_icon_f"></i>费用
					</h3>
					<ul>
						<li>加入费率： 免加入费</li>
						<li>管理费率：参见<a href="agreement?channel=0&subChannel=5"
							style="color: #EF702C" title="养老宝服务协议">养老宝服务协议</a></li>
						<li>提前赎回费率：参见<a href="agreement?channel=0&subChannel=5"
							style="color: #EF702C" title="养老宝服务协议">养老宝服务协议</a></li>
					</ul>
				</div>

				<!-- 月利宝 -->


				<div class="pro_item">
					<h3>
						<i class="pro_icon pro_icon_q"></i>对标说明
					</h3>






					<img src="./img/lao_b.jpg?v=609bcf3" class="pro_b_liuc" alt="养老宝"
						title="养老宝" />

				</div>

				<div class="pro_item">
					<!-- <h3><i class="pro_icon pro_icon_t"></i>标的组成 <span>（共 276828 标）</span></h3> -->


					<!--<div class="targets_view clearfix">
                    <div class="canvas" id="pieData">
                        
                    </div>
                    <div class="targets_view_data">
                        <ul class="clearfix">
                            <li><i class="icon level-1"></i><span>2893百万</span></li>
                            <li><i class="icon level-2"></i><span>650百万</span></li>
                            <li><i class="icon level-3"></i><span>290百万</span></li>
                            <li><i class="icon level-4"></i><span>58.87万</span></li>
                        </ul>
                        <div class="risk_bar">
                            <p>风险评级</p>
                            <p>收益率</p>
                        </div>
                    </div>
                </div>-->

					<table class="level_table nnote_table">
						<tbody>
							<tr>
								<td colspan="4" class="title_f title_a">满足 3 项指标，则评为 <span>A类</span>
								</td>
							</tr>
							<tr>
								<td colspan="2" width="60%" class="title_f title_b">
									满足2项指标则，评为 <span>B类</span>
								</td>
								<td colspan="2" width="40%" class="title_f title_c">
									满足1项指标则，评为 <span>C类</span>
								</td>
							</tr>
							<tr class="title">
								<td width="15%">评分指标</td>
								<td width="85%" colspan="2">指标名称</td>
							</tr>
							<tr>
								<td class="v_center">
									<div class="note_sub_tit">指标一</div>
									<div class="note_sub_text">贷款项目指标 情况及项目能力评价</div>
								</td>
								<td>
									<dl class="level_dt">
										<dt>1、项目贷款</dt>
										<dd>a. 贷款项目的实际进展情况与预期目标的比较;</dd>
										<dd>b. 是否按合同用途使用贷款;</dd>
										<dd>c. 贷款和企业自筹资金到位的配比情况及对还款的影响;</dd>
										<dd>d. 企业实际情况与预期产生的现金流量比较;</dd>
									</dl>
								</td>
								<td>
									<dl class="level_dt">
										<dt>2、流动资金贷款</dt>
										<dd>a. 净资产保障倍数;</dd>
										<dd>b. 销售收入保障倍数;</dd>
										<dd>c. 企业利用贷款进行的业务实际进展情况与预期目标的比较;</dd>
										<dd>d. 企业实际情况与预期产生的现金流量比较;</dd>
									</dl>
								</td>
							</tr>
							<tr>
								<td class="v_center">
									<div class="note_sub_tit">指标二</div>
									<div class="note_sub_text">担保措施</div>
								</td>
								<td style="padding: 0px; vertical-align: top;">
									<div class="note_line_content">
										<div class="note_items">1、担保物评估值覆盖的敞口比例</div>
										<div class="note_items">2、担保物的变现能力</div>
										<div class="note_items">3、担保措施抵押、质押等手续的完备性、合法性</div>
										<dl class="level_dt">
											<dt>4、过程控制</dt>
											<dd>a. 企业现金流量及操作过程的可控制性</dd>
											<dd>b. 企业的此笔贷款是否按时偿还利息</dd>
											<dd>c. 分期还款或分期将部分资金转入指定帐号的</dd>
										</dl>
									</div>
								</td>
								<td style="padding: 0px; vertical-align: top;">
									<div class="note_line_content">
										<div class="note_items">5、合同及协议条款是否明确</div>
										<div class="note_items">6、合同要件是否齐全</div>
										<div class="note_items">7、法律手续是否齐备</div>
										<div class="note_items">
											8、监控过程中，企业财务、销售等重要信息是否可以及<br /> 时得到
										</div>
										<dl class="level_dt">
											<dt>9、担保措施的落实情况</dt>
											<dd>a. 除“过程控制”以外的其他各项担保措施</dd>
											<dd>b. 过程控制的落实情况</dd>
										</dl>
									</div>
								</td>
							</tr>
							<tr>
								<td class="v_center">
									<div class="note_sub_tit">指标三</div>
									<div class="note_sub_text">企业基本面评价</div>
								</td>
								<td style="padding: 0px; vertical-align: top;">
									<div class="note_line_content">
										<div class="note_items">1、行业特征</div>
										<div class="note_items">2、企业竞争力</div>
										<div class="note_items">3、经营管理能力</div>
										<dl class="level_dt">
											<dt>4、偿债能力</dt>
											<dd>a. 资产负债率</dd>
											<dd>b. 速动比率</dd>
											<dd>c. 经营活动现金流量/总负债</dd>
										</dl>
										<dl class="level_dt">
											<dt>5、资产质量</dt>
											<dd>a. 资产负债率</dd>
											<dd>b. 资产结构</dd>
											<dd>c. 资产真实性</dd>
										</dl>
									</div>
								</td>
								<td style="padding: 0px; vertical-align: top;">
									<div class="note_line_content">
										<div class="note_items">6、经营效益</div>
										<dl class="level_dt" style="border-bottom: 1px solid #e1e1e1;">
											<dt>7、盈利能力</dt>
											<dd>a. 销售利润率、净资产收益率</dd>
											<dd>b. 主营业务收入增长率</dd>
											<dd>c. 利润增长率</dd>
										</dl>
										<dl class="level_dt">
											<dt>8、信用状况</dt>
											<dd>a. 企业银行借款记录</dd>
											<dd>b. 企业对外担保记录</dd>
											<dd>c. 企业信用意识</dd>
											<dd>d. 企业经济合同的履行</dd>
											<dd>e. 企业纳税记录</dd>
										</dl>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="4" class="title_f title_d">三项条件都不满足，则评为 <span>D类</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="pro_item">
					<h3>
						<i class="pro_icon pro_icon_d"></i>部分标的详情
					</h3>
					<div class="targets_detail">
						<!-- <ul class="tab clearfix">
             <li class="on">A类标</li>
             <li>B类标</li>
             <li>C类标</li>
             <li>D类标</li>
         </ul> -->
						<table>
							<thead>
								<tr>
									<th width="36%">名称</th>
									<th width="10%">信用等级</th>
									<th width="10%">借款利率</th>
									<th width="19%" class="tleft">标的金额（元）</th>
									<th width="25%" colspan="2" class="tleft">借款期限</th>
								</tr>
							</thead>
							<tbody id="loanBody">
								<!-- <td class="tleft">正常收款<br>已收到14、24期</td>-->
							</tbody>
						</table>
					</div>
				</div>

				<div class="pro_item">
					<h3>
						<i class="pro_icon pro_icon_r"></i>交易记录
					</h3>
					<table>

						<tr>
							<td>135******57</td>
							<td>2017-12-18 08:04:17</td>
							<td>￥10000.00</td>
						</tr>

						<tr>
							<td>189******52</td>
							<td>2017-11-28 15:46:11</td>
							<td>￥100000.00</td>
						</tr>

						<tr>
							<td>134******64</td>
							<td>2017-11-23 14:47:08</td>
							<td>￥100000.00</td>
						</tr>

						<tr>
							<td>137******92</td>
							<td>2017-11-23 10:17:20</td>
							<td>￥10000.00</td>
						</tr>

						<tr>
							<td>189******13</td>
							<td>2017-11-22 11:47:14</td>
							<td>￥10000.00</td>
						</tr>

						<tr>
							<td>137******92</td>
							<td>2017-11-18 08:50:17</td>
							<td>￥10000.00</td>
						</tr>

						<tr>
							<td>189******52</td>
							<td>2017-11-16 18:27:29</td>
							<td>￥100000.00</td>
						</tr>

						<tr>
							<td>138******51</td>
							<td>2017-11-14 12:10:24</td>
							<td>￥10000.00</td>
						</tr>

						<tr>
							<td>136******17</td>
							<td>2017-11-09 12:54:02</td>
							<td>￥50000.00</td>
						</tr>

						<tr>
							<td>136******26</td>
							<td>2017-10-27 13:19:57</td>
							<td>￥300000.00</td>
						</tr>

					</table>
				</div>

			</div>

			<!--  <script type="text/template" id="loanListTemplate">
        <#for(var i = 0, len = list.length, el, level={A:1,B:2,C:3,D:4}; i < len; i++){el = list[i];#>
        <tr>
            <td>
                 <p class="desc"><#=el.loanTitle#>-<#=el.businessNum#></p>
            </td>
            <td><i class="icon level-<#=level[el.rank]#>"></i></td>
            <td><#=el.yearOfRate#></td>
            <td class="tleft"><#=el.loanAmount#></td>
            <td class="tleft"><#=el.loanPeriod#></td>
            <td><a href="#" class="link cGold">详情</a></td>
        <tr>
        <#}#>
    </script>-->


			<div class="mod_footer">
				<div class="footer-con clearfix">
					<div class="footer-menu clearfix">
						<dl class="about">
							<dt>
								<i></i>关于我们
							</dt>
							<dd>
								<a href="#" title="公司介绍">公司介绍</a>
							</dd>
							<dd>
								<a href="#" title="经营文化">经营文化</a>
							</dd>
							<dd>
								<a href="#" title="企业背景">企业背景</a>
							</dd>
							<dd>
								<a href="#" title="安全保障">安全保障</a>
							</dd>
							<dd>
								<a href="#" title="新手引导">新手引导</a>
							</dd>
							<dd>
								<a href="#" title="法律声明">法律声明</a>
							</dd>
						</dl>
						<dl class="help">
							<dt>
								<i></i>帮助中心
							</dt>
							<dd>
								<a href="#" title="常见问题">常见问题</a>
							</dd>
							<dd>
								<a href="#" title="联系我们">联系我们</a>
							</dd>
						</dl>
					</div>
					<div class="footer-focus">
						<h3>关注我们</h3>
						<ul class="clearfix">
							<li class="first"><a rel="nofollow" target="_blank"
								href="http://weibo.com/5655032686/profile?topnav=1&wvr=6">
									<div class="img">
										<img src="./img/f_weibo.jpg?v=8c742db" alt="钱生花新浪微博" />
									</div>
									<p>新浪微博</p>
							</a></li>
							<li>
								<div class="img">
									<img src="./img/f_qecode.jpg?v=45103b9" alt="钱生花微信" />
								</div>
								<p>微信公众号</p>
							</li>
							<li><a target="_blank" href="#">
									<div class="img">
										<img src="./img/app_qr.png?v=41ad766" alt="钱生花APP" />
									</div>
									<p>移动客户端下载</p>
							</a></li>
						</ul>
					</div>
					<div class="footer-service">
						<h3>客服热线</h3>
						<div class="phone clearfix">
							<i></i>
							<p>
								400-607-8787 <span>工作时间：8:30-20:30</span>
							</p>
						</div>
						<div class="u-desk btn_udesk_im" onclick="HHN.uDesk(this)">
							<p>
								在线客服<span>(一对一专属服务)</span>
							</p>
						</div>
						<ul class="online-service">
							<li><i class="mail"></i> <a class="mail-link"
								href="mailto:kefu@fansfinancial.com">kefu@fansfinancial.com</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="content">
						<p class="friend-link">
							<strong>友情链接：</strong><a style="margin-left: 0" target="_blank"
								rel="nofollow" href="http://www.cnfantasia.com">花样年集团（中国）有限公司</a>
							| <a target="_blank" rel="nofollow"
								href="http://gw.colourlife.com">彩生活服务集团有限公司</a> | <a
								target="_blank" rel="nofollow" href="http://www.jinfuzi.com">金斧子</a>
							| <a target="_blank" rel="nofollow" href="http://www.wdzj.com">网贷之家</a>
						</p>
						<ul class="clearfix">
							<li>Copyright ©2013-2017 www.qianshenghua.com</li>
							<li>深圳市彩付宝科技有限公司</li>
							<li>花样年集团金融战略合作企业（港联交所上市企业HK1777）</li>
							<li>粤ICP备14000649号-4</li>
						</ul>
						<p class="tip">温馨提示：投资者应该仔细阅读定期产品的法律文件，了解产品风险和收益特征（包括系统性风险和特定产品所持有的投资风险等）。
							投资者应根据自身资产情况、风险承受能力选择适合自己的定期产品。</p>
					</div>
				</div>
			</div>
			<div class="fixed-server" id="fixed-mbar">
				<a href="javascript:;" class="phone">
					<div class="pop">
						电话咨询：
						<p>400-607-8787</p>
						<span>早8:30-晚20:30</span> <i></i><b></b>
					</div>
				</a> <a class="qq btn_udesk_im" href="javascript:;"
					onclick="HHN.uDesk(this)">
					<div class="pop" id="btnUdeskIm" style="top: -4px;">
						<p>在线客服</p>
						<i></i><b></b>
					</div>
				</a> <a href="javascript:;" class="weixin">
					<div class="pop">
						<span class="pop_qr"> <img height="142"
							src="./img/qr_code_zf.jpg?v=6d25955" width="142"> <span
								class="pop_kf">钱生花客服微信</span></span> <span class="pop_qrg"> <img
							height="142" src="./img/weibo3.png?v=946efba" width="142">
								<span class="pop_lc">钱生花投标公众号</span></span> <i></i><b></b>
					</div>
				</a> <a target="_blank"
					href="http://weibo.com/5655032686/profile?topnav=1&wvr=6"
					class="weibo">
					<div class="pop" style="top: -70px; padding: 8px;">
						<span class="pop_qr"> <img height="142"
							src="./img/weibo_qr.png?v=ccced96" width="142"> <span
								class="pop_kf">钱生花官方微博</span></span> <i></i><b></b>
					</div>
				</a> <a href="javascript:;" class="top"></a>
			</div>


			<script type="text/javascript" src="js/jquery.gDialog.js"></script>
			<script type="text/javascript" src="js/zeroModal.min.js"></script>
			<script type="text/javascript" src="js/mustache.js"></script>
			<script type="text/javascript" src="js/yanglaobao.js"></script>
			<script type="text/javascript" src="js/yuelibao.js"></script>
</body>
</html>